.kb-board {
    height: 100%;
    width: 100%;
    .kb-columns {
        display: flex;
        margin: 2px;
        height: 100%;
        min-height: 100%;
        overflow-x: scroll;
        .kb-column {
            margin: 2px;
            width: 100%;
            min-width: 200px;
            min-height: 100%;
            .kb-cards {
                min-height: 200px !important;
                .kb-card {
                    height: 100%;
                }
            }
        }
    }
    &.hidden {
        display: none;
    }
}
.kb-dragging {
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}
