<h2>{{board.name}}
{{kb-delete-button click=(action 'deleteBoard') pullRight=true}}
{{kb-add-button click=(action 'addColumn') pullRight=true}}
</h2>
<div class="kb-columns board-sortable">
  {{#each board.sortedColumns as |column|}}
    {{kb-column column=column cardModel=cardModel}}
  {{/each}}
</div>
